body {
    height: 100vh;
    margin: 0;
    background-color: #eee;
    display: grid;
    grid-template-rows: 60px 1fr 100px;
    grid-template-columns: 1fr;
    justify-items: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #555;
}
body > * {
    margin: 0 auto;
    width: 100%;
    max-width: 980px;
}
header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: flex-end;
    align-content: center;
}
header:before {
    content: "";
    background-color: firebrick;
    box-shadow: 0px 5px 5px rgba(127, 127, 127, 0.5);
    position: absolute;
    height: 60px;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}
header nav {
    justify-items: right;
    display: inline-grid;
}
header nav ul {
    margin: 0;
}
header nav ul li {
    display: inline;
    margin-right: 1rem;
}
header nav a:link, header a:visited {
    color: white;
}
main {
    display: grid;
    grid-template-rows: repeat(1fr);
    margin: 0 auto;
}
main > section {
    min-height: 100px;
    margin: 1em auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
footer {
    color: white;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, 1fr);
}
footer:before {
    content: "";
    background-color: #666;
    position: absolute;
    height: 160px;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}
